name: Use Secrets

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Use secret
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: |
          echo "Username is ${{ secrets.DB_USER }}"
          echo "Password length is ${#DB_PASSWORD}"
